@use "../variables/colors";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border:none;
}

input{
border:none;
text-align: center;
}

@media (min-width: 400px) {
  main {
    padding: 0 32px;
  }
}
