@use "../variables/colors";

.button {
  color: colors.$neutral-color;
  background-color: colors.$primary-light-color;
  border-radius: 12px;

  &--main {
    padding: 28px 20px;
  }

  &--view-all {
    padding: 20px;
  }

  &--mobile-details {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &--subscribe {
    width:100%;
    padding: 24px 40px;
    border-radius:12px;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;

    &--light{
      padding:24px 0;
      color: colors.$primary-light-color;
      background-color: colors.$secondary-light-color;

      &::placeholder {
        color:colors.$primary-light-color;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 32px;
      }

    }
  }

  &--desktop-details {
    padding: 20px 40px;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--dark {
    background-color: colors.$primary-dark-color;
  }
}
