.pictures {
  width: 100%;
}

.picture {
  gap: 17px;
  align-self: stretch;
  display: flex;
  height: 95vw;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 16px;
  background:
    linear-gradient(
      0deg,
      rgba(255, 119, 87, 0.1) 0%,
      rgba(255, 119, 87, 0.1) 100%
    ),
    lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--first {
    background-image: url(../images/berlin.png);
  }

  &--second {
    background-image: url(../images/london.png);
    display: none;
  }

  &--third {
    background-image: url(../images/venecia.png);
    display: none;
  }

  &__footer-title {
    color: #fff;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__subfooter {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  &__footer-subtitle {
    flex: 1 0 0;
    color: #fff;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (min-width: 400px) {
  .pictures {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  .picture {
    width: 30vw;
    height: 40vw;

    &--second {
      display: flex;
    }
    &--third {
      display: flex;
    }
  }
}
