.section {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &__title {
    color: #172432;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    border-bottom: solid 3px #ff7757;
    width: 227px;
  }

  &__sub-title {
    color: #172432;
    font-family: Playfair Display;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__info {
    color: #767e86;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
  }

  &__blog-text {
    color: #172432;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
  }

  &__buttons {
    display: none;
  }

  &__buttons--desktop {
    display: flex;
    gap: 40px;
  }
}

@media (min-width: 500px) {
  .section {
    padding: 40px 0;

    &__buttons {
      display: flex;
      gap: 40px;
    }

    &__buttons--desktop {
      display: none;
    }

    &__header {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__blog-header {
      width: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }

    &__blog-content {
      width: 50%;
    }

    &--blog {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
