.section__card-planners-img {
  display: flex;
  height: 320px;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 26px;
}

.section__card-planners-text {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.section__card-planners-tour {
  color: #172432;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.section__card-planners-price {
  color: #172432;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section__card-tour-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.section__card-planners-city {
  color: #172432;
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section__card-planners-days {
  color: #172432;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.star-color {
  color: yellow;
}

.ratings {
  display: flex;
  flex-direction: row-reverse;
}


